body {
    background-color: #41436A !important;;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-family: Pirata !important;
}

.card_bg {
    color: #ffe8e0 !important;
    background-color: #8d6316!important;
    border-radius: 20px !important;
    border: 1px dashed rgb(255, 101, 101) !important;
}


.pad {
    padding-top: 15px !important;
}

.brown_bg {
    background-color: #7b5735 !important;
}


.title {
    font-weight: 510 !important;
    font-size: 45px !important;;
}

.header {
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.pwPOkB7GJPf54x-Jd_n0wwHaE8?w=900&h=600&rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
    background-position: center !important;
    height: 350px !important;
    opacity: 0.75;
}


.margin {
    margin: 30px !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
}

.org {
    display: flex !important;
    justify-content: center !important;
}

.cen {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
}

#footer {
    background-color: #845422;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px !important;
    display: flex !important;
    position: fixed !important;
    align-items: center !important;
    justify-content: center !important;
    color: #ffe8e0;
}



